#loading-spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.7);
  z-index: 9999;
  display: none;
  /* Hidden by default */
}

/* When shown (e.g., via JS), it becomes flex */
#loading-spinner.active {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  border: 6px solid #f3f3f3;
  border-top: 6px solid hsl(237, 34%, 25%);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Custom Table */
#items_table tr th,
#items-table-body tr td {
  /* top/bottom | left/right */
  padding: 1rem 1.5rem;
  /* prevents text from breaking into multiple lines */
  white-space: nowrap;
}

#history_container tr th,
#history-table-body tr td {
  /* top/bottom | left/right */
  padding: 1rem 1.5rem;
  /* prevents text from breaking into multiple lines */
  white-space: nowrap;
}

.custom-btn {
  color: hsl(237, 34%, 30%) !important;
  background-color: transparent;
  border: 1px solid hsl(237, 34%, 30%);
  transition: all 0.3s ease;
  font-weight: 500;
}

.custom-btn:hover {
  color: white !important;
  background-color: hsl(237, 34%, 30%);
  border-color: hsl(237, 34%, 30%);
}